header {
    background-color: #03071e;
    border-bottom: 2px solid #e85d04;
    nav {
        height: 80px;
        // a:hover {
        //     transition: all 0.4s ease-in;
        //     background-color: rgb(230, 230, 230);
        //     border-radius: 50px;
        //     padding: 5px 20px;
        // }
        input {
            width: 300px !important;
        }
    }
}

aside {
    height: calc(100vh - 80px);
    min-width: 220px;
    background-color: #03071e;
    ul {
        list-style: none;
        li {
            line-height: 40px;
            a {
                text-decoration: none;
                color: white;
                font-size: 1rem;
                font-weight: 600;
                &:hover {
                    transition: all 0.2s ease-in;
                    color: rgb(192, 192, 192);
                }
                i {
                    width: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.container_table {
    height: 700px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 20px;
        background-color: rgb(233, 233, 233);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgb(185, 185, 185);
    }
    .descr_textarea::-webkit-scrollbar {
        width: 7px;
        border-radius: 20px;
    }
    .descr_textarea::-webkit-scrollbar {
        border-radius: 20px;
        background-color: rgb(226, 226, 226);
    }
}

.container_table_s {
    height: 600px;
    overflow: auto;
    td {
        input {
            border: none;
            outline: none;
        }
    }
}

.logo {
    height: 100%;
    width: 100px;

    img {
        object-fit: cover;
    }
}

.search {
    background-color: white;
    padding: 0px 10px;
    border-radius: 10px;
}

.logo-user {
    width: 50px;
    height: 50px;
}
